<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Status_changer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Status_changer.Properties.Settings>
            <setting name="conString" serializeAs="String">
                <value>Data Source=RUMOWS12;Initial Catalog=InvoicesStatuses;MultipleActiveResultSets=true;user=mf;password=mf;</value>
            </setting>
            <setting name="isVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EventDepot" serializeAs="String">
                <value>Data Source=RUMOWS12;Initial Catalog=InvoicesStatuses;MultipleActiveResultSets=true;user=mf;password=mf;</value>
            </setting>
            <setting name="loginMF" serializeAs="String">
                <value>C346RSR</value>
            </setting>
            <setting name="pwdMF" serializeAs="String">
                <value>Mainf818</value>
            </setting>
        </Status_changer.Properties.Settings>
    </userSettings>
</configuration>